<p id="notice"><%= notice %></p>



  <h1>Pets</h1>

  <div class = 'row'>

      <% @pets.each do |pet| %>

      <div class = 'col-md-4'>

        <div class = 'panel panel-default'>

          <div class="panel-heading">
              <strong>Name: </strong><%= pet.name %>
              <strong>Breed: </strong><%= pet.breed %>
              <strong>Age: </strong><%= pet.age %>
          </div>

          <div class="panel-body">
            <%= image_tag pet.avatar.url(:medium), class: "img-responsive" %>
          </div>

          <div class="panel-footer">
            <%= link_to 'Show', pet %>
            <%= link_to 'Edit', edit_pet_path(pet) %>
            <%= link_to 'Delete', pet, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>

        </div>

      </div>

      <% end %>


  </div>

  <br>

<button type="button" class="btn btn-default"><%= link_to 'New Pet', new_pet_path %></button>
  

