<p id="notice"><%= notice %></p>

<div class='container'>

	

	<h2>
	  <%= @pet.name %>
	</h2>

	<%= image_tag @pet.avatar.url(:large), class: "img-responsive" %>

	<h4>
	  <strong>Breed:</strong>
	  <%= @pet.breed %>
	</h4>

	<h5>
	  <strong>Age:</strong>
	  <%= @pet.age %>
	</h5>


<div class="btn-group btn-group-xs" role="group" aria-label="...">
	<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_path(@pet) %></button>
	<button type="button" class="btn btn-default"><%= link_to 'Back', pets_path %></button>
</div>

</div>
